@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
  --color-brand-dark: #1F1E20;
  --color-brand-purple: #2c2638;
  --color-brand-accent: #f05542;
  --color-brand-primary: rgb(55 48 163);
  --color-brand-muted: #b8b7ad;

  --font-family-sans: "Outfit", sans-serif;
  --font-family-titleFont: "IBM Plex Mono", monospace;

  --height-media-backdrop: 200px;
  --height-media-hero: 500px;
  --width-media-poster: 500px;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .gradient-overlay {
    @apply bg-gradient-to-t from-black/80 to-transparent;
  }
  .bg-brand-dark {
    background-color: var(--color-brand-dark);
  }
  .bg-brand-purple {
    background-color: var(--color-brand-purple);
  }
  .text-brand-muted {
    color: var(--color-brand-muted);
  }
  .text-brand-accent {
    color: var(--color-brand-accent);
  }
}
