<table class="min-w-full border border-gray-200">
  <thead>
    <tr>
      <th class="px-4 py-2 border-b">Full Name</th>
      <th class="px-4 py-2 border-b">Role</th>
      <th class="px-4 py-2 border-b">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="px-4 py-2 border-b text-center">
          <%= user.full_name %>
          <% if user.image.attached? %>
            <%= image_tag user.image, style: "height: 50px", class: "rounded-full object-cover mx-auto" %>
          <% end %>
        </td>
        <td class="px-4 py-2 border-b text-center"><%= user.role %></td>
        <td class="px-4 py-2 border-b text-center"><%= link_to 'Masquerade', masquerade_path(user), class: 'primary-button bg-green-600 text-white px-4 py-2 rounded' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
